@font-face {
    font-family: 'SF UI Text';
    src: url('./assets/css/font/SFUI/SFUIText-Semibold.eot');
    src: local('SF UI Text Semibold'), local('SFUIText-Semibold'),
        url('./assets/css/font/SFUI/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
        url('./assets/css/font/SFUI/SFUIText-Semibold.woff2') format('woff2'),
        url('./assets/css/font/SFUI/SFUIText-Semibold.woff') format('woff'),
        url('./assets/css/font/SFUI/SFUIText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('./assets/css/font/SFUI/SFUIText-Italic.eot');
    src: local('SF UI Text Italic'), local('SFUIText-Italic'),
        url('./assets/css/font/SFUI/SFUIText-Italic.eot?#iefix') format('embedded-opentype'),
        url('./assets/css/font/SFUI/SFUIText-Italic.woff2') format('woff2'),
        url('./assets/css/font/SFUI/SFUIText-Italic.woff') format('woff'),
        url('./assets/css/font/SFUI/SFUIText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('./assets/css/font/SFUI/SFUIText-Medium.eot');
    src: local('SF UI Text Medium'), local('SFUIText-Medium'),
        url('./assets/css/font/SFUI/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
        url('./assets/css/font/SFUI/SFUIText-Medium.woff2') format('woff2'),
        url('./assets/css/font/SFUI/SFUIText-Medium.woff') format('woff'),
        url('./assets/css/font/SFUI/SFUIText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('./assets/css/font/SFUI/SFUIText-Light.eot');
    src: local('SF UI Text Light'), local('SFUIText-Light'),
        url('./assets/css/font/SFUI/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
        url('./assets/css/font/SFUI/SFUIText-Light.woff2') format('woff2'),
        url('./assets/css/font/SFUI/SFUIText-Light.woff') format('woff'),
        url('./assets/css/font/SFUI/SFUIText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('./assets/css/font/SFUI/SFUIText-Heavy.eot');
    src: local('SF UI Text Heavy'), local('SFUIText-Heavy'),
        url('./assets/css/font/SFUI/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
        url('./assets/css/font/SFUI/SFUIText-Heavy.woff2') format('woff2'),
        url('./assets/css/font/SFUI/SFUIText-Heavy.woff') format('woff'),
        url('./assets/css/font/SFUI/SFUIText-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('./assets/css/font/SFUI/SFUIText-Regular.eot');
    src: local('SF UI Text Regular'), local('SFUIText-Regular'),
        url('./assets/css/font/SFUI/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/css/font/SFUI/SFUIText-Regular.woff2') format('woff2'),
        url('./assets/css/font/SFUI/SFUIText-Regular.woff') format('woff'),
        url('./assets/css/font/SFUI/SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('./assets/css/font/SFUI/SFUIText-Bold.eot');
    src: local('SF UI Text Bold'), local('SFUIText-Bold'),
        url('./assets/css/font/SFUI/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/css/font/SFUI/SFUIText-Bold.woff2') format('woff2'),
        url('./assets/css/font/SFUI/SFUIText-Bold.woff') format('woff'),
        url('./assets/css/font/SFUI/SFUIText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
