@charset "UTF-8";
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.10;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace,monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
on:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0;
  border: 0;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
/*normalize end*/
/*fonts install*/
@font-face {
  font-family: 'SF UI Text';
  src: url('font/SFUItest/SFUIText-Medium.eot');
  src: local('SF UI  Text Medium'), local('SFUIText-Medium'), url('font/SFUItest/SFUIText-Medium.eot?#iefix') format('embedded-opentype'), url('font/SFUItest/SFUIText-Medium.woff2') format('woff2'), url('font/SFUItest/SFUIText-Medium.woff') format('woff'), url('font/SFUItest/SFUIText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SF UI Text';
  src: url('font/SFUItest/SFUIText-Heavy.eot');
  src: local('SF UI  Text Heavy'), local('SFUIText-Heavy'), url('font/SFUItest/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'), url('font/SFUItest/SFUIText-Heavy.woff2') format('woff2'), url('font/SFUItest/SFUIText-Heavy.woff') format('woff'), url('font/SFUItest/SFUIText-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SF UI Text';
  src: url('font/SFUItest/SFUIText-Regular.eot');
  src: local('SF UI  Text Regular'), local('SFUIText-Regular'), url('font/SFUItest/SFUIText-Regular.eot?#iefix') format('embedded-opentype'), url('font/SFUItest/SFUIText-Regular.woff2') format('woff2'), url('font/SFUItest/SFUIText-Regular.woff') format('woff'), url('font/SFUItest/SFUIText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF UI Text';
  src: url('font/SFUItest/SFUIText-Semibold.eot');
  src: local('SF UI  Text Semibold'), local('SFUIText-Semibold'), url('font/SFUItest/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'), url('font/SFUItest/SFUIText-Semibold.woff2') format('woff2'), url('font/SFUItest/SFUIText-Semibold.woff') format('woff'), url('font/SFUItest/SFUIText-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SF UI Text';
  src: url('font/SFUItest/SFUIText-Bold.eot');
  src: local('SF UI  Text Bold'), local('SFUIText-Bold'), url('font/SFUItest/SFUIText-Bold.eot?#iefix') format('embedded-opentype'), url('font/SFUItest/SFUIText-Bold.woff2') format('woff2'), url('font/SFUItest/SFUIText-Bold.woff') format('woff'), url('font/SFUItest/SFUIText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SF UI Text';
  src: url('font/SFUItest/SFUIText-Light.eot');
  src: local('SF UI  Text Light'), local('SFUIText-Light'), url('font/SFUItest/SFUIText-Light.eot?#iefix') format('embedded-opentype'), url('font/SFUItest/SFUIText-Light.woff2') format('woff2'), url('font/SFUItest/SFUIText-Light.woff') format('woff'), url('font/SFUItest/SFUIText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
/*fonts install end*/
h1,
.h1 {
  font-size: 3.6rem;
  line-height: 1.3;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 40px;
}
h2,
.h2 {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 500;
}
h2,
.h2 {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 500;
}
.contentBlock .listBlock {
  padding-top: 30px;
}
.titleBlock {
  padding: 20px 30px;
}
.titleBlock h1,
.titleBlock h2,
.titleBlock .h1,
.titleBlock .h2 {
  margin: 0;
}
.titleBlock .title + .actionBlock {
  float: right;
  margin-top: -35px;
}
@media (max-width: 840px) {
  .titleBlock .title + .actionBlock {
    margin-top: 15px;
    float: none;
  }
}
html {
  font-size: 62.5%;
  height: 100%;
  background: #fff;
  color: #37342a;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font: 160%/1.5 'SF UI Text', Arial, sans-serif;
  font-weight: 400;
  /*height: 100%;*/
  min-height: 100%;
  min-width: 320px;
  background: #ebebeb;
  transition: all 0.5s ease;
}
ul,
ol {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}
a {
  text-decoration: none;
}
header {
  background: #fff;
}
header .navTopBlock {
  background: #00b1f4;
  border-bottom: 1px #898b8e solid;
}
header .navTop {
  max-width: 1300px;
  padding: 3px 20px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  background: #00b1f4;
  font-weight: 300;
}
header .navTop .navList {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
}
header .navTop .navList .item {
  padding: 0;
  margin: 0;
  padding-left: 40px;
  display: inline-block;
  vertical-align: top;
}
header .navTop .navList .item:first-child {
  padding-left: 0;
}
header .navTop .navList .item a {
  color: #fff;
}
header .navTop .navList .item a:hover {
  color: #555;
}
header .headerInfo {
  font-size: 1.4rem;
  max-width: 1300px;
  display: block;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 0;
}
header .headerInfo .contactBlock,
header .headerInfo .logoBlock {
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem;
}
header .headerInfo .logoBlock {
  width: 40%;
}
header .headerInfo .contactBlock {
  width: 60%;
}
header .headerInfo .logoBlock .logo {
  max-width: 100%;
}
header .headerInfo .logoBlock .caption {
  margin-left: 10px;
  border-left: 1px solid #000;
  display: inline-block;
  vertical-align: top;
  padding: 5px 0 5px 20px;
}
header .headerInfo .contactBlock {
  text-align: right;
}
header .headerInfo .contactBlock .contactList {
  display: inline-block;
  vertical-align: top;
}
header .headerInfo .contactBlock .contactList .item {
  display: inline-block;
  vertical-align: top;
  padding-left: 80px;
  margin: 0;
}
header .headerInfo .contactBlock .contactList .item:first-child {
  padding-left: 0;
}
header .headerInfo .contactBlock .contactList .item .contactWrap a {
  color: #626262;
}
header .navBottomBlock {
  border-top: 1px #d0d1d2 solid;
  font-weight: 600;
}
header .navBottomBlock .navBottom {
  max-width: 1300px;
  display: block;
  padding: 12px 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
header .navBottomBlock .navBottom .navList {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}
header .navBottomBlock .navBottom .navList .item {
  padding: 0;
  margin: 0;
  padding-left: 40px;
  display: inline-block;
  vertical-align: top;
}
header .navBottomBlock .navBottom .navList .item:first-child {
  padding-left: 0;
}
header .navBottomBlock .navBottom .navList .item.mobile {
  display: none;
}
header .navBottomBlock .navBottom .navList .item a {
  color: #292929;
}
header .navBottomBlock .navBottom .navList .item a:hover {
  color: #555;
}
/*Menu*/
.mobileBlock {
  position: relative;
  width: 24px;
  height: 13px;
  border-radius: 5px;
  vertical-align: top;
  display: none;
  cursor: pointer;
  padding-top: 10px;
}
.menu,
.menu::before,
.menu::after {
  content: '';
  position: absolute;
  height: 3px;
  background: #00b3f4;
  width: 24px;
  transform: translateY(0) rotate(0);
  transition: all 0.5s ease;
  border-radius: 2px;
}
.menu::before {
  bottom: -6px;
}
.menu::after {
  top: -6px;
}
.active-menu .menu {
  background: none;
}
.active-menu .menu::after {
  top: 0;
  transform: translateY(0) rotate(45deg);
}
.active-menu .menu::before {
  bottom: -10px;
  transform: translateY(-10px) rotate(-45deg);
}
/*menu end*/
/*header end*/
/*Header Media*/
@media (max-width: 890px) {
  header .headerInfo .logoBlock .caption {
    display: none;
  }
  header .headerInfo .logoBlock {
    width: 30%;
  }
  header .headerInfo .contactBlock {
    width: 70%;
  }
  header .headerInfo .contactBlock .contactList .item {
    padding-left: 20px;
  }
}
@media (max-width: 640px) {
  header .headerInfo .logoBlock .logo {
    margin: 0 auto;
    display: block;
  }
  header .headerInfo .logoBlock {
    width: 100%;
    margin-bottom: 20px;
  }
  header .headerInfo .contactBlock {
    width: 100%;
  }
  header .navBottomBlock .navBottom .navList .item,
  header .navTop .navList .item {
    padding-left: 20px;
  }
  header .headerInfo .contactBlock .contactList .item {
    width: 40%;
    font-size: 1.4rem;
    padding: 0 10px;
    box-sizing: border-box;
  }
  header .headerInfo .contactBlock .contactList {
    display: block;
    font-size: 0;
  }
  header .headerInfo .contactBlock .contactList .item:first-child {
    padding-left: 10px;
    width: 60%;
  }
}
@media (max-width: 540px) {
  .mobileBlock {
    display: block;
  }
  header .navTopBlock {
    display: none;
  }
  header .navBottomBlock .navBottom {
    position: relative;
  }
  header .navBottomBlock .navBottom .navList {
    position: absolute;
    left: -100%;
    top: 100%;
    z-index: 3;
    padding: 5px 0;
    box-sizing: border-box;
    background: white;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 5px 0 #545454;
    transform: ease .5s left;
  }
  .active-menu header .navBottomBlock .navBottom .navList {
    left: 0;
  }
  header .navBottomBlock .navBottom .navList .item {
    display: block;
    padding-left: 0;
  }
  header .navBottomBlock .navBottom .navList .item a {
    display: block;
    padding: 5px 10px 5px 10px;
  }
  header .navBottomBlock .navBottom .navList .item.mobile {
    display: block;
  }
}
@media (max-width: 530px) {
  header .headerInfo .contactBlock .contactList .item .address span {
    display: inline;
  }
  header .headerInfo .contactBlock {
    max-width: 300px;
    margin: 0 auto;
    display: block;
  }
  .contactList .item .hrefContact {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    text-align: left;
    min-width: 220px;
  }
  .contactList .item .address {
    margin-top: 0;
  }
  header .headerInfo .contactBlock .contactList .item:first-child,
  header .headerInfo .contactBlock .contactList .item {
    width: 100%;
  }
}
/*Header Media end*/
.contactList {
  padding: 0;
  margin: 0;
  text-align: left;
}
.contactList .item {
  display: block;
  padding: 0;
  margin: 0 0 20px 0;
}
.contactList .item .address {
  padding-left: 25px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: url(/assets/img/map.png);
}
.contactList .item .address span {
  display: block;
}
.contactList .item .hrefContact {
  padding-left: 25px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: url(/assets/img/tell.png);
  box-sizing: border-box;
}
.contactList .item .hrefContact .contactWrap {
  display: block;
}
.contactList .item .hrefContact .contactWrap a {
  display: inline-block;
  vertical-align: top;
  color: #000;
}
.contactList .item .hrefContact .contactWrap a:hover {
  text-decoration: underline;
}
/*Header Media end*/
.frameHeaderBlock .frameTitle {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.3;
}
.frameWrapper {
  max-width: 1300px;
  display: block;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
.row {
  font-size: 0;
}
.row .left-col,
.row .right-col {
  font-size: 1.4rem;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.row .right-col {
  padding-left: 10px;
}
.row .left-col {
  padding-right: 10px;
}
@media (max-width: 840px) {
  .row .right-col,
  .row .left-col {
    padding: 0;
    width: 100%;
    display: block;
  }
  .row .right-col {
    margin-top: 40px;
  }
}
.list {
  padding: 0;
  margin: 0;
}
.list .item {
  margin: 0;
  padding: 0;
}
.frame-cars {
  background-color: #ebebeb;
}
.frame-cars .frameWrapper {
  max-width: 1300px;
  display: block;
  padding: 20px 20px 60px 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
.carBlock .actionBlock {
  text-align: right;
}
.carBlock .carBlockList {
  margin-left: -20px;
}
.carBlock .carBlockList .carList {
  padding: 0;
  margin: 0;
  font-size: 0;
  color: #000;
  display: flex;
  flex-wrap: wrap;
}
.carBlock .carBlockList .carList .item {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  margin: 0;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.carBlock .carBlockList .carList .item .car {
  background-color: #fff;
  padding: 18px 18px 55px 18px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  height: 100%;
  position: relative;
}
.carBlock .carBlockList .carList .item .car .lease {
  background: #00b1f4;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 40px;
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  text-align: center;
}
.carBlock .carBlockList .carList .item .car .lease:hover {
  background: #555;
}
.carBlock .carBlockList .carList .item .car .descBlock {
  display: block;
}
.carBlock .carBlockList .carList .item .car .descBlock .imageBlock img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.carBlock .carBlockList .carList .item .car .descBlock .title {
  margin-top: 20px;
  line-height: 1.4;
  font-size: 1.8rem;
  color: #000;
  font-weight: bold;
}
.carBlock .carBlockList .carList .item .car .descBlock:hover .title {
  text-decoration: underline;
}
.carBlock .carBlockList .carList .item .car .description {
  margin: 13px 0;
}
.carBlock .carBlockList .carList .item .car .priceBlock {
  padding-top: 13px;
  border-top: 1px solid #d2d2d2;
}
.carBlock .carBlockList .carList .item .car .priceBlock .caption {
  font-size: 1.4rem;
  color: #898989;
}
.carBlock .carBlockList .carList .item .car .priceBlock .price {
  margin-top: 10px;
  padding-left: 35px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA/FBMVEVrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtxwlLN6sLw+e3y+u/0+vLq9uW+47B9yGFyw1Pg8tn+//7M6cHE5rje8df////o9eOAyWRxw1Ph8trx+e52xVi24Kfg8tp4xlt0xFbs9+h6xl1uwU/l9ODz+vBwwlF/yWT5/Pfj89zy+e9twU3T7Mmu3Z3Y7s/5/fj8/vvj893h8tu74qzD5ra84q2z36OS0Xuv3Z7v+Oz4/Pe44amx3qCt3Jv6/fn9/vzp9uTm9OHn9eHV7ct5xlyByWZ3xVpswEzi89z1+/J3xVl4xVsAAACbJWD7AAAADnRSTlMAHV6Xx+n9G3fORrNU0WeCeIgAAAABYktHRFN6Zx0GAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4QsPDRcgCEp0zQAAAQZJREFUKM99UnlfgkAQXWCBVXQo7KAQw6gQy9QsSy3pMruv7/9hvGYXvHh/zfzevt++eTOEzCDJClU1lSqyRJLQWQY4MkyPiawBSRhZTuTyMI98DhWLxJiaqnQDlmFM/mKz2tzYtApb2ztIsbFddLVr7+07Rbd0gA4lIuMjr3zog3nkOtjLROHMsXUCEFgV7BVCYyYEqJ6eYU+JilVtqjmvN7BXiYaVaTfDi7DlXmKvCc1V+/qmU3cdT2j4P91mu3d71xezUuEtun94jKKn50B44/PYg5fh69vwPRTz8Aw+Otan738F3yIDnlv15/cvESmLszZbjf+FrNfvJ2WnKXeQcjsr720E9fom0czouPUAAAAASUVORK5CYII=);
  font-size: 2.4rem;
  color: #000;
  font-weight: bold;
}
@media (max-width: 940px) {
  .carBlock .carBlockList .carList .item {
    width: 33.3333%;
  }
}
@media (max-width: 720px) {
  .carBlock .carBlockList .carList .item {
    width: 50%;
  }
}
@media (max-width: 540px) {
  .carBlock .carBlockList .carList .item {
    width: 100%;
  }
}
.frame-arenda {
  padding: 50px 0;
  background-color: #fff;
}
.frame-arenda .frameHeaderBlock .frameTitle {
  text-align: center;
}
.frame-arenda .listBlock {
  padding-top: 100px;
  background: url("/assets/img/car-ob.png") no-repeat 100% 0;
  /*background-size: 50%;*/
}
.frame-arenda .listBlock .list {
  max-width: 585px;
  box-sizing: border-box;
  margin: 0 auto 0 0;
}
/*media arenda*/
@media (max-width: 1240px) {
  .frame-arenda .listBlock {
    background-size: 50%;
  }
}
@media (max-width: 1140px) {
  .frame-arenda .listBlock {
    background: none;
  }
}
.actionBlock .action {
  background: #00b1f4;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: top;
  padding: 5px 30px;
  border-radius: 3px;
}
.actionBlock .action:hover {
  background: #555;
}
.actionBlock .action-more {
  background: #00b1f4;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: top;
  padding: 5px 30px;
  border-radius: 3px;
}
.actionBlock .action-more span {
  padding-left: 22px;
  background-position: 0 50%;
  display: inline-block;
  vertical-align: top;
  line-height: 1.45;
  background-repeat: no-repeat;
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhCw8NGjnZj6JAAAABaUlEQVQoz3XTuYpUURSF4XXrnmuDFAjlEDi2kRi0IDb4AKYaGKiBaGAuBoqCoAYGDcY+gYEGRnbWiZkDCKKtT2AqODRGUtZncIcqhd7R5uwfDudf+1RGqdJXlWmSJ1nKpSR15iVqjaLRaEQ8xDURo+600Sg9WBSVuIuvHrltv0g3Keo5GHELm9ZtgVfGHdr0YCN2i1P4KCIugxVZBGNs6r44gM0OjdeYSA9W4jkOiziCFwP6w0tRtWAcwnXRKOK0s/qbLuKY9OAN7BremIVuB+6IuiRJVvM9Pwe5ZUH073zLSpKMukRk+6rm4PtMsnMY/Ml06Jcyyec2xFos42qrQZyx2tmLKzjeP2YkNmx1+cZTLIvYg425njYX3gz2PuGguIm9c+GtvROYOd+hH3BS7Ovs1lEPzsbegl/WvcM97Rr+tz2t6KMeWPMFa9utWdEYibiAx9Jd2k5K9c9XSGaRZxnnXJIyxFBl9heX44ApHSWL1wAAAABJRU5ErkJggg==");
}
.actionBlock .action-more:hover {
  background-color: #555;
}
.list.list-step {
  counter-reset: steps;
}
.list.list-step .item {
  display: block;
  min-height: 85px;
  margin-bottom: 40px;
}
.list.list-step .item:last-child {
  margin-bottom: 0;
}
.list.list-step .item .itemWrapper {
  padding-left: 115px;
  position: relative;
}
.list.list-step .item .itemWrapper .title {
  font-size: 2.4rem;
  margin-bottom: 7px;
  line-height: 1.3;
  font-weight: bold;
}
.list.list-step .item .itemWrapper::before {
  color: #fff;
  counter-increment: steps;
  content: counter(steps);
  font-size: 4.8rem;
  text-align: center;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50% 50% 0 50%;
  background-color: #00b1f4;
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 640px) {
  .list.list-step .item .itemWrapper {
    padding-left: 50px;
  }
  .list.list-step .item .itemWrapper::before {
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }
}
.list.list-advantages > .item {
  display: block;
  min-height: 85px;
  margin-bottom: 40px;
  min-height: 100px;
}
.list.list-advantages > .item:last-child {
  margin-bottom: 0;
}
.list.list-advantages > .item .itemWrapper {
  padding-left: 150px;
  position: relative;
}
.list.list-advantages > .item .itemWrapper::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: url(/assets/img/ok.png) 50% 50% no-repeat;
  box-shadow: 0 0 10px 6px #cccccc;
}
.list.list-advantages > .item .itemWrapper::after {
  content: "";
  clear: both;
  display: table;
}
.list.list-advantages > .item .itemWrapper .title {
  font-size: 1.8rem;
  margin-bottom: 7px;
  line-height: 1.3;
  font-weight: bold;
  padding-top: 7px;
}
.list.list-advantages > .item .itemWrapper .description {
  box-sizing: border-box;
}
.list.list-advantages > .item .itemWrapper .option {
  padding-left: 50px;
  float: right;
  width: 300px;
  box-sizing: border-box;
}
.list.list-advantages > .item .itemWrapper .option .optionList {
  margin: 0;
  padding: 0;
}
.list.list-advantages > .item .itemWrapper .option .optionList .item {
  padding-left: 20px;
  margin-bottom: 5px;
  display: block;
  position: relative;
}
.list.list-advantages > .item .itemWrapper .option .optionList .item::before {
  top: 8px;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #00b1f4;
  content: "";
  display: block;
  position: absolute;
}
.list.list-advantages > .item .itemWrapper .option + .description {
  padding-right: 300px;
}
@media (max-width: 840px) {
  .list.list-advantages > .item .itemWrapper .option + .description {
    padding: 0;
  }
  .list.list-advantages > .item .itemWrapper .option {
    float: none;
    width: 100%;
    padding: 10px 0 0 0;
  }
}
@media (max-width: 640px) {
  .list.list-advantages .item .itemWrapper {
    padding-left: 50px;
  }
  .list.list-advantages .item .itemWrapper::before {
    left: 0;
    width: 40px;
    height: 40px;
    background-size: 20px;
    box-shadow: 0 0 10px 2px #cccccc;
  }
}
.list.list-okLabel > .item {
  display: block;
  min-height: 85px;
  margin-bottom: 40px;
  min-height: 100px;
}
.list.list-okLabel > .item:last-child {
  margin-bottom: 0;
}
.list.list-okLabel > .item .itemWrapper {
  padding-left: 60px;
  position: relative;
}
.list.list-okLabel > .item .itemWrapper::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: url(/assets/img/ok-white.png) 50% 50% no-repeat;
  background-color: #00b1f4;
}
.list.list-okLabel > .item .itemWrapper::after {
  content: "";
  clear: both;
}
.list.list-okLabel > .item .itemWrapper .title {
  font-size: 1.8rem;
  margin-bottom: 7px;
  line-height: 1.3;
  font-weight: bold;
  padding-top: 7px;
}
.list.list-okLabel > .item .itemWrapper .description {
  box-sizing: border-box;
}
.list-okLabel.list-okLabel-green > .item .itemWrapper::before {
  background-color: #00c046;
}
.soc-list .item a {
  padding-left: 32px;
  background-size: 20px 20px;
  display: inline-block;
  vertical-align: top;
}
.soc-list .inst a {
  background: url(/assets/img/Instagram.png) 0 0 no-repeat;
}
.frame-howToRend .actionBlock {
  text-align: center;
}
.frame-howToRend .actionBlock a {
  text-transform: capitalize;
}
.frame-howToRend .h1,
.frame-howToRend h1 {
  text-align: center;
}
.frame-howToRend .imageBlock {
  margin-top: 40px;
}
.frame-howToRend .imageBlock img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
.frame-howToRend .row {
  margin-top: 40px;
}
.frame-howToRend .row .left-col.online .listBlock {
  padding-right: 50px;
  border-right: 1px dashed #dadada;
}
.frame-howToRend .row .left-col.online > .title {
  padding-left: 60px;
  background: url(/assets/img/ofline.png) no-repeat 0 50%;
  background-size: 40px;
}
.frame-howToRend .row .right-col.ofline .listBlock {
  padding-left: 50px;
}
.frame-howToRend .row .right-col.ofline > .title {
  padding-left: 60px;
  background: url(/assets/img/online.png) no-repeat 0 50%;
  background-size: 40px;
}
.frame-howToRend .row .right-col .title,
.frame-howToRend .row .left-col .title {
  font-size: 3.6rem;
  margin-bottom: 20px;
}
@media (max-width: 840px) {
  .frame-howToRend .row .right-col.ofline .listBlock,
  .frame-howToRend .row .left-col.online .listBlock {
    padding-left: 0;
    padding-right: 0;
    border: 0;
  }
  .list.list-okLabel > .item .itemWrapper::before {
    background-size: 20px;
    width: 30px;
    height: 30px;
  }
  .list.list-okLabel > .item .itemWrapper {
    padding-left: 45px;
  }
}
.frame-freeOptions {
  padding: 50px 0 100px 0;
  background-color: #f8f8f8;
}
.frame-freeOptions .frameTitle {
  text-align: center;
}
.frame-freeOptions .list {
  margin-top: 50px;
  font-size: 0;
}
.frame-freeOptions .list .item {
  font-size: 1.4rem;
  padding: 0 60px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 33.3333%;
  margin-bottom: 20px;
  text-align: center;
}
.frame-freeOptions .list .item .itemWrapper .imageBlock {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  display: block;
  border: 5px solid #6bc04b;
  border-radius: 50%;
  box-sizing: border-box;
}
.frame-freeOptions .list .item .title {
  font-size: 2.4rem;
  margin-top: 20px;
  font-weight: bold;
}
.frame-freeOptions .list .item.navigation .imageBlock {
  background: url(/assets/img/navigation.png) 50% 50% no-repeat;
}
.frame-freeOptions .list .item.babyChair .imageBlock {
  background: url(/assets/img/babyChair.png) 50% 50% no-repeat;
}
.frame-freeOptions .list .item.loading .imageBlock {
  background: url(/assets/img/loading.png) 50% 50% no-repeat;
}
@media (max-width: 1080px) {
  .frame-freeOptions .list .item {
    padding: 0 20px;
  }
}
@media (max-width: 680px) {
  .frame-freeOptions .list .item {
    width: 100%;
    margin-bottom: 40px;
  }
  .frame-freeOptions .list .item:last-child {
    margin-bottom: 0;
  }
}
.frame-advantages {
  padding: 75px 0 150px 0;
}
.frame-advantages .frameTitle {
  text-align: center;
}
.frame-advantages .listBlock {
  margin-top: 75px;
}
@media (max-width: 840px) {
  .frame-advantages,
  .frame-freeOptions {
    padding: 35px 0 40px 0;
  }
}
footer {
  padding: 20px 0;
  background-color: #00b1f4;
  background-image: url("/assets/img/footer-stack.png");
  background-repeat: repeat-x;
  background-position: 0 100%;
}
footer .footer-top {
  width: 100%;
  font-size: 0;
}
footer .footer-top .navBlock {
  margin-bottom: 20px;
  font-size: 1.4rem;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
footer .footer-top .navBlock a {
  color: #fff;
}
footer .footer-top .navBlock a:hover {
  text-decoration: underline;
}
footer .footer-top .navBlock .title {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}
footer .footer-top .navBlock .list .item {
  margin-top: 7px;
  display: block;
}
footer .footer-top .navBlock .contactList .hrefContact a {
  color: #fff;
}
footer .footer-top .navBlock .contactList .item {
  box-sizing: border-box;
}
footer .footer-top .navBlock .contactList .item:last-child {
  margin-bottom: 0;
}
footer .footer-top .navBlock .contactList .item .hrefContact {
  background-image: url(/assets/img/tel-white.png);
}
footer .footer-top .navBlock .contactList .item .address {
  background-image: url(/assets/img/map-white.png);
  color: #fff;
}
footer .footer-bottom {
  font-size: 0;
  padding-top: 50px;
}
footer .footer-bottom .copirait,
footer .footer-bottom .create {
  font-size: 1.2rem;
  width: 75%;
  display: inline-block;
  vertical-align: top;
  color: #fff;
}
footer .footer-bottom .copirait a,
footer .footer-bottom .create a {
  color: #fff;
}
footer .footer-bottom .create {
  width: 25%;
}
@media (max-width: 840px) {
  footer .footer-top .navBlock {
    width: 50%;
  }
}
@media (max-width: 460px) {
  footer .footer-top .navBlock,
  footer .footer-bottom .copirait,
  footer .footer-bottom .create {
    width: 100%;
  }
  footer .footer-bottom {
    padding-top: 0;
  }
  footer .footer-bottom .copirait {
    margin-bottom: 20px;
  }
}
.breadcrumbsBlock {
  margin: 20px 0;
}
.breadcrumbsBlock .breadcrumbsWrapper {
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
}
.breadcrumbsBlock .breadcrumbs-list {
  padding: 0;
  margin: 0;
  font-size: 0;
}
.breadcrumbsBlock .breadcrumbs-list .breadcrumbs-item {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.69;
  text-align: left;
}
.breadcrumbsBlock .breadcrumbs-list .breadcrumbs-item::after {
  content: "/";
  padding: 0 7px;
}
.breadcrumbsBlock .breadcrumbs-list .breadcrumbs-item a {
  color: #7c7c7c;
  text-decoration: underline;
}
.breadcrumbsBlock .breadcrumbs-list .breadcrumbs-item a:hover {
  text-decoration: none;
}
.breadcrumbsBlock .breadcrumbs-list .breadcrumbs-item:last-child {
  color: #7c7c7c;
}
.breadcrumbsBlock .breadcrumbs-list .breadcrumbs-item:last-child::after {
  content: none;
}
.frame-slider {
  overflow: hidden;
  min-height: 500px;
  position: relative;
  background: #fff;
  border-bottom: 1px solid #c4c5c6;
}
.frame-slider .frameWrapper .frameBlock {
  padding-left: 400px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.frame-slider .frameWrapper .frameBlock .searchBlock {
  width: 100%;
  max-width: 380px;
  float: left;
  margin-left: -400px;
}
.frame-slider .frameWrapper .frameBlock .searchBlock form {
  background-color: #6bc04b;
  border-radius: 5px;
  border: 1px solid #898b8e;
  padding: 15px 20px;
  box-sizing: border-box;
}
.frame-slider .frameWrapper .frameBlock .searchBlock form > .title {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNy45MzgiIGhlaWdodD0iMjcuOTM4IiB2aWV3Qm94PSIwIDAgMjcuOTM4IDI3LjkzOCI+CiAgPHBhdGggc3R5bGU9ImZpbGw6ICNmZmY7ZmlsbC1ydWxlOiBldmVub2RkOyIgZD0iTTM3Ny45NSwyMTEuNTM2bC0xLjQxNSwxLjQxNC02Ljc5MS02Ljc5MWExMi4wMTUsMTIuMDE1LDAsMSwxLDEuNDE1LTEuNDE1Wk0zNzIsMTk3YTEwLDEwLDAsMSwwLTEwLDEwQTEwLDEwLDAsMCwwLDM3MiwxOTdaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzUwIC0xODUpIi8+Cjwvc3ZnPgo=") no-repeat 0 50%;
  padding-left: 40px;
  font-size: 2.4rem;
  color: #fff;
}
.frame-slider::before {
  content: "";
  position: absolute;
  background-color: #00b3f6;
  height: 220px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.frame-slider::after {
  content: "";
  position: absolute;
  background-color: #00b3f6;
  height: 220px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/assets/img/slider-bg.jpg) no-repeat 50% 0;
}
.frame-slider .sliderBlock .slideList .slide {
  display: block;
}
.frame-slider .sliderBlock .slideList .slide .content {
  color: #fff;
}
.frame-slider .sliderBlock .slideList .slide .content .label {
  display: block;
}
.frame-slider .sliderBlock .slideList .slide .content .title {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.3;
  display: block;
}
.frame-slider .sliderBlock .slideList .slide .content .title span {
  display: block;
}
.frame-slider .sliderBlock .slideList .slide .content a {
  position: relative;
  z-index: 3;
  text-transform: uppercase;
  color: #fff;
}
.frame-slider .sliderBlock .slideList .slide .content a:hover {
  text-decoration: underline;
}
.jsEnabled .frame-slider .sliderBlock {
  position: relative;
}
.jsEnabled .frame-slider .sliderBlock .navBlock.navBlock-steps .step {
  font-size: 0;
  position: absolute;
  top: 100px;
  width: 22px;
  height: 38px;
  margin-top: -19px;
}
.jsEnabled .frame-slider .sliderBlock .navBlock.navBlock-steps .step.step-prev {
  left: 10px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMC41OTQiIGhlaWdodD0iMzYuOTM4IiB2aWV3Qm94PSIwIDAgMjAuNTk0IDM2LjkzOCI+CiAgPHBhdGggc3R5bGU9ImZpbGw6ICNkMWQxZDE7ZmlsbC1ydWxlOiBldmVub2RkOyIgZD0iTTM3OS4zLDQ1NC45NzFhMS41LDEuNSwwLDAsMCwxLjA2LTIuNTYxbC0xNS45MS0xNS45MSwxNS45MS0xNS45MWExLjUsMS41LDAsMCwwLTIuMTIxLTIuMTIxTDM2MC4yLDQzNi41bDE4LjAzMSwxOC4wMzFBMS41LDEuNSwwLDAsMCwzNzkuMyw0NTQuOTcxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM2MC4yMTkgLTQxOC4wMzEpIi8+Cjwvc3ZnPgo=) no-repeat;
  display: none;
}
.jsEnabled .frame-slider .sliderBlock .navBlock.navBlock-steps .step.step-next {
  right: 10px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMC41NjIiIGhlaWdodD0iMzYuOTM4IiB2aWV3Qm94PSIwIDAgMjAuNTYyIDM2LjkzOCI+CiAgPHBhdGggc3R5bGU9ImZpbGw6ICNmZmY7ZmlsbC1ydWxlOiBldmVub2RkOyIgZD0iTTgyMC43LDQ1NC45NzFhMS41LDEuNSwwLDAsMS0xLjA2LTIuNTYxbDE1LjkxLTE1LjkxLTE1LjkxLTE1LjkxYTEuNSwxLjUsMCwwLDEsMi4xMjEtMi4xMjFMODM5LjgsNDM2LjVsLTE4LjAzMSwxOC4wMzFBMS41LDEuNSwwLDAsMSw4MjAuNyw0NTQuOTcxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTgxOS4yMTkgLTQxOC4wMzEpIi8+Cjwvc3ZnPg==") no-repeat;
}
.jsEnabled .frame-slider .sliderBlock .navBlock.navBlock-slides {
  position: absolute;
  bottom: 0;
  left: 0;
}
.jsEnabled .frame-slider .sliderBlock .navBlock.navBlock-slides .slide {
  width: 13px;
  height: 13px;
  margin-right: 7px;
  background-color: #dddddd;
  display: inline-block;
  vertical-align: top;
  border-radius: 100%;
  opacity: 1;
}
.jsEnabled .frame-slider .sliderBlock .navBlock.navBlock-slides .slide.slide-active {
  background-color: #00b1f4;
}
.jsEnabled .frame-slider .sliderBlock .slideList {
  min-width: 100%;
  white-space: nowrap;
  font-size: 0;
}
.jsEnabled .frame-slider .sliderBlock .slideList .slide {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: -100%;
  opacity: 0;
  visibility: hidden;
  transition: margin-right 0.5s ease, overflow, opacity 1s ease;
  white-space: normal;
  font-size: 1.4rem;
}
.jsEnabled .frame-slider .sliderBlock .slideList .slide.slide-active {
  opacity: 1;
  margin-right: 0;
  visibility: visible;
}
.jsEnabled .frame-slider .sliderBlock .slideList .slide .imageBlock {
  margin-top: -20px;
}
.jsEnabled .frame-slider .sliderBlock .slideList .slide .imageHolder {
  padding-top: 34.1968%;
  position: relative;
}
.jsEnabled .frame-slider .sliderBlock .slideList .slide .imageHolder .imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.jsEnabled .frame-slider .sliderBlock .slideList .slide .imageHolder .imageWrapper img {
  max-height: 100%;
  max-width: 100%;
}
.contentBlock {
  background-color: #fff;
  margin-bottom: 20px;
}
.contentBlock .contentWrapper {
  padding: 30px;
}
.contentBlock > h1 {
  font-size: 30px;
}
.tarifTableBlock table {
  font-size: 1.4rem;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.tarifTableBlock table thead td.imageBlock {
  color: #00b1f4;
}
.tarifTableBlock table thead td {
  white-space: nowrap;
}
.tarifTableBlock table tr td {
  border: 1px solid #dddddd;
  text-align: center;
  vertical-align: middle;
  padding: 20px 17px;
  box-sizing: border-box;
}
.tarifTableBlock table tr td.bg {
  padding: 11px 0;
  position: relative;
}
.tarifTableBlock table tr td.bg::before {
  content: "";
  background-color: #ebebeb;
  height: 100%;
  position: absolute;
  left: -2px;
  right: -2px;
  bottom: 0;
  top: 0;
}
.tarifTableBlock table tr td.imageBlock {
  width: 14%;
  border-right-color: #959595;
}
.tarifTableBlock table tr td.imageBlock .title {
  font-size: 1.8rem;
  font-weight: bold;
}
.tarifTableBlock table tr td .caption {
  display: none;
}
.tarifTableBlock table tr td .price {
  white-space: nowrap;
}
.tarifTableBlock table tr td.priceBlock-Day {
  width: 7%;
}
.tarifTableBlock table tr td.priceBlock-Address {
  width: 9.5%;
}
.tarifTableBlock table tr td.priceBlock-Baby {
  width: 15%;
}
.tarifTableBlock table tr td.priceBlock-Navigation {
  width: 15%;
}
.tarifThead tr td {
  white-space: nowrap;
}
@media (max-width: 1140px) {
  .tarifTableBlock table thead {
    display: none;
  }
  .tarifTableBlock table tr {
    font-size: 0;
  }
  .tarifTableBlock table tr td.imageBlock,
  .tarifTableBlock table tr td.priceBlock-Day,
  .tarifTableBlock table tr td.priceBlock-Address,
  .tarifTableBlock table tr td.priceBlock-Baby,
  .tarifTableBlock table tr td.priceBlock-Navigation {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 5px;
    font-size: 1.4rem;
  }
  .tarifTableBlock table tr td.imageBlock {
    width: 100%;
    padding: 20px 0 10px;
    border: 1px solid #dddddd;
  }
  .tarifTableBlock table tr td .caption {
    display: block;
    font-weight: bold;
  }
  .tarifTableBlock table tr {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-bottom: 20px;
    margin-right: 3.3333%;
    background-color: #fff;
  }
  .tarifTableBlock table tr td:last-child {
    width: 100%;
  }
  .contentBlock.tarifTableBlock {
    background: none;
  }
  tbody {
    margin-right: -3.3333%;
    display: block;
    font-size: 0;
  }
}
@media (max-width: 840px) {
  .tarifTableBlock table tr {
    width: 46%;
    margin-right: 4%;
  }
  tbody {
    margin-right: -4%;
  }
}
@media (max-width: 580px) {
  .tarifTableBlock table tr {
    width: 100%;
    margin-right: 0;
  }
  tbody {
    margin-right: 0;
  }
}
.priceBlockTwoColl {
  font-size: 0;
}
.priceBlockTwoColl .caption,
.priceBlockTwoColl .price {
  line-height: 1.1;
}
.priceBlockTwoColl .caption {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  font-weight: 700;
  font-size: 2.4rem;
}
.priceBlockTwoColl .price {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  font-size: 3rem;
  font-weight: 700;
}
.priceBlockTwoColl .price span {
  padding-left: 45px;
  box-sizing: border-box;
  background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA/FBMVEVrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtrwEtxwlLN6sLw+e3y+u/0+vLq9uW+47B9yGFyw1Pg8tn+//7M6cHE5rje8df////o9eOAyWRxw1Ph8trx+e52xVi24Kfg8tp4xlt0xFbs9+h6xl1uwU/l9ODz+vBwwlF/yWT5/Pfj89zy+e9twU3T7Mmu3Z3Y7s/5/fj8/vvj893h8tu74qzD5ra84q2z36OS0Xuv3Z7v+Oz4/Pe44amx3qCt3Jv6/fn9/vzp9uTm9OHn9eHV7ct5xlyByWZ3xVpswEzi89z1+/J3xVl4xVsAAACbJWD7AAAADnRSTlMAHV6Xx+n9G3fORrNU0WeCeIgAAAABYktHRFN6Zx0GAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4QsPDRcgCEp0zQAAAQZJREFUKM99UnlfgkAQXWCBVXQo7KAQw6gQy9QsSy3pMruv7/9hvGYXvHh/zfzevt++eTOEzCDJClU1lSqyRJLQWQY4MkyPiawBSRhZTuTyMI98DhWLxJiaqnQDlmFM/mKz2tzYtApb2ztIsbFddLVr7+07Rbd0gA4lIuMjr3zog3nkOtjLROHMsXUCEFgV7BVCYyYEqJ6eYU+JilVtqjmvN7BXiYaVaTfDi7DlXmKvCc1V+/qmU3cdT2j4P91mu3d71xezUuEtun94jKKn50B44/PYg5fh69vwPRTz8Aw+Otan738F3yIDnlv15/cvESmLszZbjf+FrNfvJ2WnKXeQcjsr720E9fom0czouPUAAAAASUVORK5CYII=) no-repeat 0 50%;
}
@media (max-width: 870px) {
  .priceBlockTwoColl .caption,
  .priceBlockTwoColl .price {
    width: 100%;
    display: block;
    text-align: left;
  }
  .priceBlockTwoColl .price {
    margin-top: 15px;
  }
}
.advantagesTxtBlock .title {
  text-align: center;
}
.advantagesTxtBlock .advantages-txt {
  column-count: 2;
  column-gap: 20px;
}
.advantagesTxtBlock .advantages-txt p {
  margin-top: 0;
}
.attributList {
  padding: 0;
}
.attributList .item {
  margin-top: 20px;
  clear: both;
  display: block;
}
.attributList .item:after {
  display: block;
  content: "";
  border-bottom: 1px dashed;
  overflow: hidden;
  height: 1.2em;
}
.attributList .item .caption {
  display: block;
  float: left;
  max-width: 39%;
  padding-right: 0.5em;
  box-sizing: border-box;
}
.attributList .item .value {
  display: block;
  float: right;
  width: 59%;
  padding-left: 0.5em;
  box-sizing: border-box;
}
.imageGalleryBlock .previewBlock {
  background: #f7f7f7;
  position: relative;
  padding: 64% 0 0 0;
}
.imageGalleryBlock .previewBlock .imageWrapper {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.imageGalleryBlock .previewBlock .imageWrapper:before {
  content: "";
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.imageGalleryBlock .previewBlock .imageWrapper img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  font-family: "object-fit: cover";
  font-family: "object-position: center";
}
.imageGalleryBlock .previewBlock .navBlock .step {
  font-size: 0;
  position: absolute;
  top: 50%;
  width: 22px;
  height: 38px;
  margin-top: -19px;
}
.imageGalleryBlock .previewBlock .navBlock .step.step-prev {
  left: 10px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMC41OTQiIGhlaWdodD0iMzYuOTM4IiB2aWV3Qm94PSIwIDAgMjAuNTk0IDM2LjkzOCI+CiAgPHBhdGggc3R5bGU9ImZpbGw6ICNkMWQxZDE7ZmlsbC1ydWxlOiBldmVub2RkOyIgZD0iTTM3OS4zLDQ1NC45NzFhMS41LDEuNSwwLDAsMCwxLjA2LTIuNTYxbC0xNS45MS0xNS45MSwxNS45MS0xNS45MWExLjUsMS41LDAsMCwwLTIuMTIxLTIuMTIxTDM2MC4yLDQzNi41bDE4LjAzMSwxOC4wMzFBMS41LDEuNSwwLDAsMCwzNzkuMyw0NTQuOTcxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM2MC4yMTkgLTQxOC4wMzEpIi8+Cjwvc3ZnPgo=) no-repeat;
}
.imageGalleryBlock .previewBlock .navBlock .step.step-next {
  right: 10px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMC41NjIiIGhlaWdodD0iMzYuOTM4IiB2aWV3Qm94PSIwIDAgMjAuNTYyIDM2LjkzOCI+CiAgPHBhdGggc3R5bGU9ImZpbGw6ICNkMWQxZDE7ZmlsbC1ydWxlOiBldmVub2RkOyIgZD0iTTgyMC43LDQ1NC45NzFhMS41LDEuNSwwLDAsMS0xLjA2LTIuNTYxbDE1LjkxLTE1LjkxLTE1LjkxLTE1LjkxYTEuNSwxLjUsMCwwLDEsMi4xMjEtMi4xMjFMODM5LjgsNDM2LjVsLTE4LjAzMSwxOC4wMzFBMS41LDEuNSwwLDAsMSw4MjAuNyw0NTQuOTcxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTgxOS4yMTkgLTQxOC4wMzEpIi8+Cjwvc3ZnPg==") no-repeat;
}
.imageGalleryBlock .imageListBlock {
  padding: 0;
  margin: 20px 0 0 0;
}
.imageGalleryBlock .imageListBlock .blockWrapper {
  overflow: hidden;
}
.imageGalleryBlock .imageListBlock .blockWrapper .imageList {
  padding: 0;
  margin: 0;
  font-size: 0;
}
.imageGalleryBlock .imageListBlock .blockWrapper .imageList .item {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  width: 16.6666%;
  box-sizing: border-box;
}
.imageGalleryBlock .imageListBlock .blockWrapper .imageList .item.item-active a {
  border-color: #00b1f4;
}
.imageGalleryBlock .imageListBlock .blockWrapper .imageList .item a {
  border: 1px solid #d1d1d1;
  display: block;
  background-color: #f7f7f7;
  padding-top: 62.5%;
  position: relative;
}
.imageGalleryBlock .imageListBlock .blockWrapper .imageList .item a img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
  font-family: "object-fit: cover";
  font-family: "object-position: center";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.aboutCar {
  font-size: 0;
}
.aboutCar .GalleryDetalPage,
.aboutCar .contentTovar {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 1.6rem;
}
.aboutCar .GalleryDetalPage {
  padding-right: 100px;
  box-sizing: border-box;
}
@media (max-width: 1060px) {
  .imageGalleryBlock .imageListBlock .blockWrapper .imageList .item {
    width: 30%;
  }
  .aboutCar .GalleryDetalPage {
    padding-right: 50px;
  }
}
@media (max-width: 860px) {
  .aboutCar .GalleryDetalPage,
  .aboutCar .contentTovar {
    width: 100%;
    display: block;
    padding: 0;
  }
  .aboutCar .contentTovar {
    margin-top: 40px;
  }
}
@media (max-width: 440px) {
  .imageGalleryBlock .imageListBlock .blockWrapper .imageList .item {
    width: 50%;
  }
}
.submitBlock {
  text-align: right;
  margin-top: 20px;
}
.submitBlock button {
  border: 0;
  background: #0fb2f1;
  border-radius: 4px;
  color: #fff;
  min-width: 131px;
  line-height: 18px;
  height: 31px;
  padding: 6px 10px;
  display: inline-block;
  vertical-align: top;
}
.submitBlock button:hover {
  background-color: #555;
}
form input,
form input[type="tel"],
form input[type="date"],
form input[type="number"],
form input.isIndicated + .indicator,
form input[type="text"],
form input[type="phone"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
  display: block;
  background: #fff right center no-repeat;
  border-radius: 4px;
  border: 0;
  line-height: 18px;
  height: 31px;
  padding: 6px 10px;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.4rem;
  color: #292929;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
form input.isDatepicker,
form input.isIndicated + .indicator-date,
form input[type="date"] {
  padding-right: 30px;
  background-image: url('/assets/img/calendar.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
form select {
  padding-right: 30px;
  background-image: url('/assets/img/arrow-bottom.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
form input.isIndicated {
  position: absolute;
  visibility: hidden;
  width: 0;
}
form .fieldList {
  margin: 0x;
  padding: 0;
  border: 0;
  list-style: none;
}
form .fieldList .field {
  color: #292929;
  display: block;
  margin-top: 5px;
}
form .fieldList .field label .title {
  color: #fff;
  display: block;
  margin-bottom: 9px;
  font-size: 1.4rem;
}
@media (max-width: 840px) {
  .frame-slider .frameWrapper .frameBlock {
    padding-left: 0;
  }
  .frame-slider .frameWrapper .frameBlock .searchBlock {
    float: none;
    margin-left: 0;
    max-width: none;
  }
  .frame-slider .frameWrapper .frameBlock .searchBlock form .fieldList {
    font-size: 0;
  }
  form .fieldList .field {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  form .fieldList .field:nth-child(2n - 1) {
    padding-right: 10px;
    box-sizing: border-box;
  }
  .frame-slider::before {
    height: 465px;
  }
  .frame-slider::after {
    top: 245px;
  }
}
@media (max-width: 490px) {
  form .fieldList .field:nth-child(2n - 1) {
    padding-right: 0;
  }
  form .fieldList .field {
    display: block;
    width: 100%;
  }
  .frame-slider::before {
    height: 685px;
  }
  .frame-slider::after {
    top: 465px;
  }
}
/*PICKMEUP*/
.pickmeup {
  position: fixed;
  top: 0!important;
  left: 0!important;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 0;
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
  box-shadow: none;
  box-sizing: content-box;
  display: block;
  opacity: 1;
  visibility: visible;
  touch-action: manipulation;
  z-index: 101;
  transition: all 0.5s ease;
}
.pickmeup * {
  box-sizing: border-box;
}
.pickmeup:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.pickmeup.pmu-flat {
  position: static;
  margin: 0 0 -15px;
  background: 0 0;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}
.pickmeup.pmu-flat:after,
.pickmeup.pmu-flat:before {
  content: none;
}
.pickmeup.pmu-hidden {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
.pickmeup .pmu-instance {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  font-size: 1.6rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.5);
}
.pickmeup.pmu-flat .pmu-instance {
  position: static;
  -webkit-transform: none;
  transform: none;
  margin: 0;
  text-align: center;
  display: block;
  height: auto;
  padding: 0;
  width: auto;
  background: 0 0;
  box-shadow: none;
}
.pickmeup .pmu-button {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: all 0.25s ease;
}
.pickmeup .pmu-button:hover {
  background: 0 0;
  color: #000;
}
.pickmeup .pmu-days * {
  font-size: 1.6rem;
  display: inline-block;
  vertical-align: middle;
  width: 14.2857%;
  padding: 8px 0;
  margin: 6px 0;
  border: 2px transparent solid;
}
.pickmeup .pmu-not-in-month {
  visibility: hidden;
}
.pickmeup .pmu-disabled,
.pickmeup .pmu-instance .pmu-disabled:hover {
  color: #333;
  cursor: default;
}
.pickmeup .pmu-not-in-month.pmu-selected {
  opacity: 0.75;
}
.pickmeup nav {
  color: #eee;
  line-height: 2em;
}
.pickmeup nav.pmu-navigation {
  position: relative;
  line-height: 36px;
}
.pickmeup nav.pmu-navigation .pmu-month-step {
  width: 36px;
  position: absolute;
  top: 0;
  font-size: 0;
  overflow: hidden;
  background: none;
  height: 36px;
  padding: 0;
  border-radius: 2px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  transition: all 0.25s ease;
  color: #d7e2b8;
}
.pickmeup nav.pmu-navigation .pmu-next {
  right: 0;
}
.pickmeup nav.pmu-navigation .pmu-prev {
  right: 37px;
}
.pickmeup nav.pmu-navigation .pmu-month {
  font-size: 1.6rem;
  color: #392d23;
  font-weight: normal;
  text-align: center;
}
.pickmeup nav.pmu-day-of-week {
  display: block;
  line-height: 1;
  color: #392d23;
  text-align: center;
  padding-bottom: 15px;
  margin: 15px 0 5px;
}
.pickmeup nav.pmu-day-of-week * {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  width: 14.2857%;
}
.pickmeup .pmu-days {
  line-height: 1;
  text-align: center;
  color: #252525;
  border-top: 1px #e1d1c5 solid;
  margin-top: 12px;
  padding-top: 12px;
}
.pickmeup .pmu-days .pmu-button {
  color: #392d23;
}
.pickmeup .pmu-days .pmu-button:hover {
  color: #000;
}
.pickmeup .pmu-days .pmu-disabled {
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.pickmeup .pmu-days .pmu-selected,
.pickmeup .pmu-days .pmu-today {
  position: relative;
}
.pickmeup .pmu-days .pmu-selected {
  color: #00b1f4;
}
.pickmeup .pmu-days .pmu-today:before {
  opacity: 0.25;
}
.pickmeup .pmu-days .pmu-selected:before {
  border-color: #fff;
  opacity: 1;
}
.pickmeup .pmu-months,
.pickmeup .pmu-years {
  font-weight: normal;
  text-align: center;
  color: #4a4a4a;
}
.pickmeup .pmu-months *,
.pickmeup .pmu-years * {
  display: inline-block;
  line-height: 3.6em;
  width: 25%;
}
.pickmeup .pmu-instance:first-child .pmu-prev,
.pickmeup .pmu-instance:last-child .pmu-next {
  display: block;
}
.pickmeup:not(.pmu-view-days) .pmu-day-of-week,
.pickmeup:not(.pmu-view-days) .pmu-days,
.pickmeup:not(.pmu-view-months) .pmu-months,
.pickmeup:not(.pmu-view-years) .pmu-years {
  display: none;
}
.calendarBlock {
  overflow: hidden;
}
.pickmeup .pmu-instance {
  background: #ebebeb;
}
.pickmeup nav.pmu-navigation {
  display: block;
  background: #00b1f4;
  border-radius: 4px 4px 0 0;
  padding: 20px 50px;
  border-bottom: 1px #00b1f4 solid;
  line-height: 1.2;
  position: relative;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}
.pickmeup nav.pmu-navigation .pmu-month {
  display: inline-block;
}
.pickmeup nav.pmu-navigation .pmu-month-step {
  width: 50px;
  height: 100%;
}
.pickmeup nav.pmu-navigation .pmu-prev {
  right: auto;
  left: 0;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGIiBkPSJNNyAxMi41bC02LTYgNi02bTcgNkgxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=) center center no-repeat;
}
.pickmeup nav.pmu-navigation .pmu-next {
  right: 0;
  left: auto;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGIiBkPSJNOCAxMi41bDYtNi02LTZtLTcgNmgxMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+) center center no-repeat;
}
.pickmeup nav.pmu-navigation .pmu-month {
  color: #fff;
}
.pmu-view-days nav.pmu-day-of-week {
  display: block;
  background: #00b1f4;
  margin: 0;
  padding: 15px 20px;
  border-top: 1px #00b1f4 solid;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  position: relative;
}
.pickmeup nav.pmu-day-of-week * {
  color: #000;
  font-size: 1.4rem;
  font-weight: normal;
}
.pickmeup .pmu-disabled {
  opacity: 0.5;
}
.pickmeup .pmu-days {
  border: 0;
}
.pickmeup .pmu-days,
.pickmeup .pmu-months,
.pickmeup .pmu-years {
  padding: 0 20px 20px;
  margin: 10px 0 0;
}
.pickmeup .pmu-days .isEvented {
  position: relative;
}
.pickmeup .pmu-days .isEvented:after {
  content: '';
  border: 2px #EE2A46 solid;
  position: absolute;
  left: 50%;
  top: -2px;
  height: 34px;
  width: 34px;
  margin-left: -19px;
  border-radius: 100%;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup {
  background: none;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup nav.pmu-navigation {
  position: static;
  background: none;
  box-shadow: none;
  color: #392d23;
  border-color: #e1d1c5;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup nav.pmu-navigation .pmu-month {
  color: inherit;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup nav.pmu-navigation .pmu-month-step {
  height: 84px;
  top: 50%;
  margin: -42px 0 0;
  width: 40px;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup nav.pmu-navigation .pmu-month-step:hover {
  opacity: 1;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup nav.pmu-navigation .pmu-next {
  opacity: 0.4;
  right: 0;
  left: auto;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI4NCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjQzNBRDlDIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0xIDgxLjV2LTc5TDM4LjYyIDQyIDEgODEuNXoiLz48L3N2Zz4=) center center no-repeat;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup nav.pmu-navigation .pmu-prev {
  opacity: 0.4;
  right: auto;
  left: 0;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI4NCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjQzNBRDlDIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0zOSA4MS41di03OUwxLjM4IDQyIDM5IDgxLjV6Ii8+PC9zdmc+) center center no-repeat;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-button {
  cursor: default;
  border-right-width: 0;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-button:hover {
  color: inherit;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-disabled {
  color: #aaa;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-selected {
  color: #4990e2;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-type-low {
  border-color: #4990e2;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-type-medium {
  border-color: #f6a623;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-type-high {
  border-color: #ed1a3b;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-type-summer {
  border-color: green;
}
.priceListBlock .calendarViewBlock .calendarBlock nav.pmu-day-of-week {
  display: none;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-type-low + .pmu-type-low,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-type-medium + .pmu-type-medium,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-type-high + .pmu-type-high,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-type-summer + .pmu-type-summer {
  border-left-width: 0;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-not-in-month + .pmu-type-low,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-not-in-month + .pmu-type-medium,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-not-in-month + .pmu-type-high,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-not-in-month + .pmu-type-summer,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days :not(.pmu-type-low) + .pmu-type-low,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days :not(.pmu-type-medium) + .pmu-type-medium,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days :not(.pmu-type-high) + .pmu-type-high,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days :not(.pmu-type-summer) + .pmu-type-summer {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-left-width: 2px;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-lastOfType {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-right-width: 2px;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-button:nth-child(7n) {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-right-width: 2px;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-button:nth-child(7n-6) {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-left-width: 2px;
}
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-not-in-month + .pmu-type-low,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-not-in-month + .pmu-type-medium,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-not-in-month + .pmu-type-high,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days .pmu-not-in-month + .pmu-type-summer,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days :not(.pmu-type-low) + .pmu-type-low,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days :not(.pmu-type-medium) + .pmu-type-medium,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days :not(.pmu-type-high) + .pmu-type-high,
.priceListBlock .calendarViewBlock .calendarBlock .pickmeup .pmu-days :not(.pmu-type-summer) + .pmu-type-summer {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-left-width: 2px;
}
/*Для макса*/
.carBlock.twovar .carBlockList .carList .item .car .priceBlock {
  position: absolute;
  bottom: 50px;
  width: 100%;
  left: 0;
  padding: 13px 20px 0 20px;
  box-sizing: border-box;
}
.carBlock.twovar .carBlockList .carList .item .car {
  padding-bottom: 131px;
}
